/**********************************
GENERAL
***********************************/

/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/
.navbar-brand{
    width:50px;
    height:50px;

}

}
.portrait{
    max-width:auto;
    max-height:250px;
}

.jumbotron{
    text-align:center;
    margin-bottom:100px;
    height:470px;
    padding-top:100px;
}

.portrait_name{
    width:290px;
    margin:0 auto;
    padding:20px;
    border-radius:20px;
}

/**********************************
MAIN CONTENT
***********************************/
body{
background-color:gray;
}

.thumbnail_image{
  max-height:200px;
  max-width:300px;
}

article{
    width:90%;
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
}
li{
    height:50px;
}

/**********************************
FOOTER - Layout and Sizing
***********************************/
footer{
    height:100px;
    text-align:center;
    padding:20px;
}

/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/
.portrait_name{
    font-family: times;
    font
}

/**********************************
COLORS and BACKGROUNDS
Color 1: #eee
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/

article{
    background:#00345E;
    color:white;
    font:impact, italic;
}

footer{
    background:#00345E;
    color:white;
    height:50px;
    font:10px times;
}

.jumbotron{
  background: url('http://www.imagesource.com/Doc/IS0/Media/TR5/6/3/b/0/IS09AQ0SP.jpg') no-repeat center;
  background-size: cover;
}

.portrait_name{
    background: rgba(230, 230, 230, 0.7);
}