/**********************************
GENERAL
***********************************/

/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/
.navbar-brand{
    width:50px;
    height:50px;

}
.navbar-header{
    background-color:#1f0036;
}

.portrait{
    max-width:auto;
    max-height:auto;
}

.jumbotron{
    text-align:center;
    margin-bottom:100px;
    background: url("https://i.ytimg.com/vi/SR3kG1K37Ns/maxresdefault.jpg");
    font-family: 'Kelly Slab', cursive;
    background-size:cover;
}

.portrait_name{
    width:250px;
    margin:0 auto;
    padding:20px;
    border-radius:20px;
    font-family: 'Kelly Slab', cursive;
}

/**********************************
MAIN CONTENT
***********************************/
body{
background: #0B0719;
background-size:cover;

}

.thumbnail_image{
  max-height:200px;
  max-width:300px;
}
.thumbnail{
    background:url('http://i.istockimg.com/file_thumbview_approve/76820669/5/stock-photo-76820669-galaxy.jpg');
    background-size:cover;
    color:#0101DF;
}
article{
    width:90%;
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
    text-align:center;
    
}
li{
    height:50px;
}
h2, h6{
    text-align:center;
    font-family: Georgia, serif;
    
}
p, h3{
    color:#000000;
}
/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/
.portrait_name{
    font-family:times;
}

/**********************************
COLORS and BACKGROUNDS
Color 1: #eee
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/

article{
    background:transparent;
    color:#0101DF;
    font:impact, italic ;
    
}

footer{
    background:#0101DF;
    height:50px;
    font:15px times;
    text-align:center;
    color: #FFFFFF;
    
}


.portrait_name{
    background: rgba(230, 230, 230, 0.7);
}